<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ClienteServlet</servlet-name>
        <servlet-class>Web.ClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PuntoVentaServlet</servlet-name>
        <servlet-class>Web.PuntoVentaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmpleadoServlet</servlet-name>
        <servlet-class>Web.EmpleadoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CajaServlet</servlet-name>
        <servlet-class>Web.CajaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VentaServlet</servlet-name>
        <servlet-class>Web.VentaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DevolucionServlet</servlet-name>
        <servlet-class>Web.DevolucionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PiezaServlet</servlet-name>
        <servlet-class>Web.PiezaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MuebleServlet</servlet-name>
        <servlet-class>Web.MuebleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MuebleEnsambladoServlet</servlet-name>
        <servlet-class>Web.MuebleEnsambladoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompraServlet</servlet-name>
        <servlet-class>Web.CompraServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PiezaAlmacenadaServlet</servlet-name>
        <servlet-class>Web.PiezaAlmacenadaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MovimientoServlet</servlet-name>
        <servlet-class>Web.MovimientoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>Web.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DiseñoServlet</servlet-name>
        <servlet-class>Web.DiseñoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>Web.loginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnsambladorServlet</servlet-name>
        <servlet-class>Web.EnsambladorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DesignServlet</servlet-name>
        <servlet-class>Web.DesignServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ClienteServlet</servlet-name>
        <url-pattern>/ClienteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PuntoVentaServlet</servlet-name>
        <url-pattern>/PuntoVentaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmpleadoServlet</servlet-name>
        <url-pattern>/EmpleadoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CajaServlet</servlet-name>
        <url-pattern>/CajaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VentaServlet</servlet-name>
        <url-pattern>/VentaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DevolucionServlet</servlet-name>
        <url-pattern>/DevolucionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PiezaServlet</servlet-name>
        <url-pattern>/PiezaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MuebleServlet</servlet-name>
        <url-pattern>/MuebleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MuebleEnsambladoServlet</servlet-name>
        <url-pattern>/MuebleEnsambladoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompraServlet</servlet-name>
        <url-pattern>/CompraServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PiezaAlmacenadaServlet</servlet-name>
        <url-pattern>/PiezaAlmacenadaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MovimientoServlet</servlet-name>
        <url-pattern>/MovimientoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DiseñoServlet</servlet-name>
        <url-pattern>/Dise_oServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnsambladorServlet</servlet-name>
        <url-pattern>/EnsambladorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DesignServlet</servlet-name>
        <url-pattern>/DesignServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
